<div class="login" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="login__box">
    <mat-card-header class="login__header">
      <mat-card-title class="login__title">Log in</mat-card-title>
    </mat-card-header>

    <form class="login__form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <mat-form-field class="login__field">
          <input
            matInput
            placeholder="Username"
            type="text"
            formControlName="username"
          />
        </mat-form-field>
        <mat-form-field class="login__field">
          <input
            matInput
            placeholder="Password"
            type="password"
            formControlName="password"
          />
        </mat-form-field>
      </mat-card-content>
      <button
        *ngIf="!(authState$ | async)?.isAuthenticating; else spinner"
        mat-stroked-button
        color="accent"
        class="login__button"
      >
        Log in
      </button>
      <p fxLayout="row" fxLayoutAlign="center">
        <span
          >Don't have an account?
          <a routerLink="/sign-up" (click)="onSignUpClick()">Sign up</a></span
        >
      </p>
    </form>
  </mat-card>
</div>
<ng-template #spinner>
  <div class="login__spinner">
    <mat-progress-spinner
      [diameter]="55"
      [mode]="'indeterminate'"
    ></mat-progress-spinner>
  </div>
</ng-template>
